@import "variables";
// @import "foundation_and_overrides";

// Global body styles
body {
  font-size: 18px; /* Bigger font size for general text */
  font-family: 'Georgia', serif;
  background-color: $shire-cream;
  margin: 0;
  padding: 0;
}

// Header styling (title and subtitle)
header {
  text-align: center;
  margin-top: 20px;
  background-color: $shire-light-green;
  color: $shire-brown;
  padding: 20px;

  h1 {
    font-size: 3em; /* Larger title font */
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; /* Changed title font */
    margin-bottom: 5px;
  }
  
  p {
    font-size: 1.4em; /* Bigger subtitle */
    color: $shire-brown;
  }
}

// Navbar styling
nav.top-bar {
  background-color: $shire-cream;
  padding: 10px 0;

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 20px;

      a {
        text-decoration: none;
        font-size: 1.2em;
        color: $shire-brown;

        &.active {
          font-weight: bold;
          color: $shire-gold;
        }
      }
    }
  }
}

// Container for page content
.container {
  margin: 20px auto;
  max-width: 960px;
}

// New forum post form styling
.new-forum-post {
  border: 2px solid $shire-brown;
  padding: 15px;
  margin-bottom: 30px;
  background-color: lighten($shire-oak, 10%);
}

// Forum post styling
.forum-post {
  border: 2px solid $shire-brown;
  background-color: lighten($shire-oak, 5%);
  padding: 15px;
  margin-bottom: 30px;

  .post-header {
    // border-bottom: 1px solid $shire-green;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-decoration: bold;
  }
  
  .post-body {
    background-color: lighten($shire-cream, 15%);
    padding: 10px;
    border-radius: 4px;
  }
  
  .post-actions {
    margin-top: 10px;
  }
  
  .post-comment-form {
    margin-top: 20px;
  }
  
  .post-comments {
    margin-top: 20px;
  }
}

// Comment styling
.comment {
  border: 1px solid $shire-green;
  padding: 10px;
  margin-top: 10px;
  background-color: lighten($shire-cream, 10%);
  border-radius: 4px;
  
  .comment-header {
    border-bottom: 1px solid $shire-green;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  
  .comment-body {
    background-color: lighten($shire-cream, 20%);
    padding: 5px;
    border-radius: 3px;
  }
}
